[Desktop Entry]
Name=SvrCtlRS
Comment=Terminal and SSH management tool
Exec=svrctlrs-desktop
Icon=cc.js-node.svrctlrs
Type=Application
Categories=System;TerminalEmulator;Network;
Keywords=terminal;ssh;server;remote;
StartupNotify=true
StartupWMClass=svrctlrs-desktop
